/* Color system
 * https://m3.material.io/styles/color/system/how-the-system-works
 */

/*
 $color-red: #aa1d2d;
 $color-gold: #ceb464;
 $color-white: #ffffff;
 $color-black: #000000;
 $color-bamboo: #f7f3e6;
*/

:root {
  /* Corporate */
  --khao-ref-palette-black: #000000;
  --khao-ref-palette-bamboo: rgb(174, 145, 55); /* #ae9137 */
  --khao-ref-palette-bamboo-light: #f7f3e6;
  --khao-ref-palette-green: #3e5618;
  --khao-ref-palette-green-light: #9acd32;

  --khao-ref-palette-red: #aa1d2d; /* $color-red */
  --khao-ref-palette-orange: #ff9900;
  --khao-ref-palette-white: white;

  /* Neutral */
  /*
 $color-lightest-grey: #ebebeb;
 $color-lighter-grey: #aaaaaa;
 $color-light-grey: #8c8c8c;
 $color-dark-grey: #666666;
 $color-darkest-grey: #2a2a2a;
*/

  --khao-ref-palette-neutral10: var(--khao-ref-palette-black);
  --khao-ref-palette-neutral30: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 30%
  );
  --khao-ref-palette-neutral50: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 50%
  );
  --khao-ref-palette-neutral80: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 80%
  );
  --khao-ref-palette-neutral100: var(--khao-ref-palette-white);
}

/*

$color-green: #9acd32;
$color-dark-green: #3e5618; //darken($color-green, 28%); // #445a16
$color-orange: #ff9900;
$color-red: #aa1d2d;
$color-gold: #ceb464;
$color-white: #ffffff;
$color-black: #000000;
$color-bamboo: #f7f3e6;
$color-lightest-grey: #ebebeb;
$color-lighter-grey: #aaaaaa;
$color-light-grey: #8c8c8c;
$color-dark-grey: #666666;
$color-darkest-grey: #2a2a2a;

$logo-background-color: $color-green;
$logo-color: $color-white;

$text-color: lighten($color-black, 10%);
$text-color-secondary: $color-darkest-grey;
$text-color-dark-bg: $color-white;

$button-primary-color: $color-white;
$button-primary-bg-color: $color-dark-green;
$button-secondary-color: $color-white;
$button-secondary-bg-color: $color-red;

$highlight-color: $color-dark-green;
$highlight-color-light: lighten($highlight-color, 15%);
$highlight-color-dark: darken($highlight-color, 5%);

$focus-text-color: lighten($highlight-color, 30%);

$accent-color: $color-gold;

$link-color: $highlight-color;

$content-background-color: $color-bamboo;
$content-background-color-d1: darken($content-background-color, 10%);
$content-background-color-d2: darken($content-background-color, 20%);
$content-background-color-d3: darken($content-background-color, 30%);
$content-background-color-d4: darken($content-background-color, 40%);

$divider-color: darken($content-background-color, 15%);

$social-color: darken($color-gold, 15%);
$social-color-amz: #ff9900;
$social-color-fb: #3b5998;
$social-color-twitter: #1da1f2;
$social-color-pint: #bd081c;
$social-color-insta: #e4405f;
$social-color-newsletter: $color-green;
$social-color-rss: $color-orange;


*/
