/* Color system
 * https://m3.material.io/styles/color/system/how-the-system-works
 */

:root {
  /* Primary */
  --khao-sys-color-primary: var(--khao-ref-palette-green);
  --khao-sys-color-on-primary: var(--khao-ref-palette-white);

  /* Secondary */
  --khao-sys-color-secondary: var(--khao-ref-palette-bamboo);
  --khao-sys-color-on-secondary: var(--khao-ref-palette-white);

  /* Tertiary */
  --khao-sys-color-tertiary: var(--khao-ref-palette-orange);
  --khao-sys-color-on-tertiary: var(--khao-ref-palette-black);

  /* Container */
  --khao-sys-color-container: var(--khao-ref-palette-neutral10);
  --khao-sys-color-on-container: var(--khao-ref-palette-neutral100);

  /* Surface */
  --khao-sys-color-surface: color-mix(
    in srgb,
    var(--khao-ref-palette-color-bamboo),
    var(--khao-ref-palette-white) 90%
  );
  --khao-sys-color-on-surface: var(--khao-ref-palette-black);

  --khao-sys-color-surface-variantd30: color-mix(
    in srgb,
    var(--khao-sys-color-secondary),
    var(--khao-ref-palette-white) 60%
  );
  --khao-sys-color-on-surface-variantd30: var(--khao-ref-palette-black);

  /* Outline */
  --khao-sys-color-outline: var(--khao-ref-palette-neutral50);
  --khao-sys-color-outline-variant: var(--khao-ref-palette-neutral80);

  /* Neutral (Greys) */
  --khao-sys-color-neutral10: var(--khao-ref-palette-neutral10);
  --khao-sys-color-neutral30: var(--khao-ref-palette-neutral30);
  --khao-sys-color-neutral50: var(--khao-ref-palette-neutral50);
  --khao-sys-color-neutral80: var(--khao-ref-palette-neutral80);
  --khao-sys-color-neutral100: var(--khao-ref-palette-neutral100);

  /* Static */
  --khao-sys-static-color-green: var(--khao-ref-palette-green-light);
  --khao-sys-static-color-on-green: var(--khao-ref-palette-black);

  --khao-sys-static-color-red: var(--khao-ref-palette-red);
  --khao-sys-static-color-on-red: var(--khao-ref-palette-white);

  --khao-sys-static-color-white: var(--khao-ref-palette-white);
  --khao-sys-static-color-on-white: var(--khao-ref-palette-black);

  --khao-sys-static-color-black: var(--khao-ref-palette-black);
  --khao-sys-static-color-on-black: var(--khao-ref-palette-white);
}
