:root {
  /* Level 4: Dialog over search bar */
  --khao-sys-elevation-level4-distance: 1004;

  /* Level 3 */
  --khao-sys-elevation-level3-distance: 1003;

  /* Level 3 */
  --khao-sys-elevation-level3-distance: 1002;

  /* Level 1 */
  --khao-sys-elevation-level1-shadow: 4px 4px 8px var(--khao-ref-palette-neutral50);
  --khao-sys-elevation-level1-distance: 1001;
}
