/* Color system
 * https://m3.material.io/styles/color/system/how-the-system-works
 */

:root {
  /* Corporate */
  --khao-ref-palette-bamboo: #88712B;
  --khao-ref-palette-green: #3e5618;
  --khao-ref-palette-green-light: #9acd32;
  --khao-ref-palette-orange: #ff9900;

  /* Additional */
  --khao-ref-palette-red: #aa1d2d;
  --khao-ref-palette-white: #ffffff;
  --khao-ref-palette-black: #000000;

  /* Neutral */
  --khao-ref-palette-neutral10: var(--khao-ref-palette-black);
  --khao-ref-palette-neutral30: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 30%
  );
  --khao-ref-palette-neutral50: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 50%
  );
  --khao-ref-palette-neutral80: color-mix(
    in srgb,
    var(--khao-ref-palette-black),
    var(--khao-ref-palette-white) 80%
  );
  --khao-ref-palette-neutral100: var(--khao-ref-palette-white);
}
